ion-toolbar{
  --background: var(--var-paleta-azul);
  --color: #fff;
}
ion-input {
  --placeholder-color: var(--var-paleta-azul);
  --placeholder-font-weight: bold;
}
ion-button{
  --background:var(--var-paleta-naranja);
}
